<h1 class="jumbotron">Shoe Distribution Center</h1>
<% if Store.all.any? %>
  <h2>Stores:</h2>
  <ul>
    <% Store.all.each do |store| %>
    <li><a href="/store/<%= store.id %>"><%= store.name %></a></li>
    <% end %>
  </ul>
<% end %>

<form class="form-group" action="/store" method="post">
  <input name="store" placeholder="New Store Here">
  <button type="submit">Add Store</button>
</form>

<% if Brand.all.any? %>
  <h2>Brands:</h2>
  <ul>
    <% Brand.all.each do |brand| %>
    <li><a href="/brand/<%= brand.id %>"><%= brand.name %></a></li>
    <% end %>
  </ul>
<% end %>

<form class="form-group" action="/brand" method="post">
  <input name="brand" placeholder="New Brand Here">
  <button type="submit">Add Brand</button>
</form>
